# Development Environment #
#######################
env/
.vscode

# Configuration Files #
#######################
fenixedu.ini
local_settings.py
name_service.py
f.py

# Compiled source #
###################
*.pyc

# Backup Files #
################
*~
\#*\#

# Logs and databases #
######################
*.pot
*.log
*.json*
db.sqlite3*

# Templates #
#############
!*.json-template
