{% extends "app/base.html" %}

{% load i18n %}

{% block navbar_dep_active %}
active
{% endblock %}

{% block content %}

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}
<a href="/professoresexternos/dep_prop_new">
	<button type="button" class="btn btn-default btn-lg">
		<span class="glyphicon glyphicon-plus"></span> 
		{% trans "Add new possible external teacher" %}
	</button>
</a>

<h1>{% trans "Opened proposals for external teachers" %}: {{ external_teachers.count }}</h1>
{% include "app/external_teachers_list.html" %}

{% endblock %}

