{% extends "app/base.html" %}

{% load i18n %}

{% load app %}
{% block navbar_dep_active %}
active
{% endblock %}

{% block content %}

<form role="form" method="post" action="">
	{% csrf_token %}
	{% for error in form.non_field_errors %}
	<div class="error">{{ error }}</div>
	{% endfor %}
	{% for field in form.visible_fields %}
	<div class="form-group">
		<div class="error">{{ field.errors }}</div>
		{{ field.label_tag }} 
		{{ field|addcss:"form-control" }}
	</div>
	{% endfor %}
	<input type="submit" value="{% trans "Submit" %}" />
</form>

<script language="JavaScript">

	var id_field = document.getElementById("id_ist_id");
	var name_field = document.getElementById("id_name");

	id_field.onblur = function() {
		getData()	
	}

	var dataFromServer;  //declare the variable first

	function getData() {
		$.ajax({
			url : '/app/name?username=' + id_field.value,
			type: 'GET',
			success : handleData
		})
	}

	function handleData(data) {
		name_field.value = data
	}



</script>

{% endblock %}

